.pl {
  height: 150vh;
}
.pl-col {
  height: 100%;
  text-align: center;
}

.pl-title {
  margin-top: 70px;
  font-size: 50px;
  font-weight: 600;
  color: rgb(62, 62, 161);
}

.pl-desc {
  margin-top: 10px;
  font-size: 20px;
}

.pl-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .pl {
    height: 160vh;
  }
  .pl-list {
    justify-content: center;
  }
}
